*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
}

body{
    background:#222;
}

.card{
    /* width: 90%; */
    max-width: 450px;
    background:linear-gradient(45deg, rgb(0, 251, 255), rgb(102, 255, 0));
    margin:100px auto;
    border-radius: 20px ;
    padding: 40px 35px;
    text-align: center;
}

.search{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: none;
    padding: 10px 25px;
    height: 60px;
    flex:1;
    margin-right:  16px; ;
    font-size: 18px;
    border-radius: 30px;
}

.search button{
    border: 0;
    outline: none;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    cursor: pointer;
}

.search img{
    padding-top: 5px;
    width: 30px;
}

.weather-icon{
    width: 200px;
}

.weather h1{
    margin-top:-20px;
}

.weather h2{
    padding-top: 5px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    margin-left: 20px ;
    padding:10px;
}

.col{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    text-align: left;
}

.humidity-col{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left:10px ;
}

.humidity{
    font-size: 20px;
    font-weight: bold;
}

.wind{
    font-size: 20px;
    font-weight: bold;
}


.wind-col{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left:10px ;
}

.weather{
    display: none;
}